.monto1 {
    font-size: 2em;
    text-align: center;
    color: #a10512;
}
.monto2 {
    font-size: 2em;
    text-align: center;
    color: #a10505d3;
}
.utilidades {
    font-size: 2em;
    text-align: center;
    color: #470de9;
    
}
body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.slideshare.net%2FEUROsociAL-II%2Fcreando-cultura-tributaria-agentes-de-cambio-impuestos-nacionales-bolivia&psig=AOvVaw0vUthalUhpJ4w5q0QEkZSr&ust=1598657512463000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIi_q7zFvOsCFQAAAAAdAAAAABAI);
    background-repeat: repeat-x;
}

